<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/calendar">GymMaster</a>

    <ul class="navbar-nav ml-auto" *ngIf="service.isLoggedIn()">
      <li class="nav-item">
        <a class="nav-link" *ngIf="service.isAdmin()" routerLink="/users">Users Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/calendar">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" (click)="logout()">logout</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>