<div class="user-details">
    <h2>User Details</h2>
    <div class="detail-row">
      <span class="label">ID:</span>
      <span class="value">{{ user.id }}</span>
    </div>
    <div class="detail-row">
      <span class="label">Name:</span>
      <span class="value">{{ user.name }}</span>
    </div>
    <div class="detail-row">
      <span class="label">Email:</span>
      <span class="value">{{ user.email }}</span>
    </div>
    <div class="detail-row">
      <span class="label">Phone:</span>
      <span class="value">{{ user.phoneNumber }}</span>
    </div>
  </div>